@charset "UTF-8";
.img-modal {
    .img-box {
        padding: 0 43px;
        overflow: hidden;
        img {
            float: left;
            width: 88px;
            height: 88px;
            margin-right: 10px;
            margin-bottom: 10px;
            &.mr {
                margin-right: 0;
            }
        }
        .img-add {
            float: left;
            display: flex;
            align-items: center;
            width: 88px;
            height: 88px;
            line-height: 88px;
            text-align: center;
            border: 1px dashed #43cea9;
            border-radius: 6px;
            img {
                width: 22px;
                height: 22px;
                margin: 0;
                margin-left: 32px;
            }
        }
    }
}
