<ion-modal-view class="patient-add patient-modal mobile-modal img-modal">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <a class="button button-icon icon ion-ios-close-empty button-left" ng-click="closeWordsViewModal()"></a>
        </div>
        <h1 class="title">{{wordsInfo.wordTitle}}</h1>
        <div class="buttons">
            <button class="button button-right button-clear" ng-click="closeWordsViewModal()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content class="container">
        <div ng-bind-html="wordsInfo.wordContent">
        </div>
    </ionic-content>
</ion-modal-view>
