<ion-modal-view class="modal-demo">
    <ion-header-bar>
        <button class="button button-clear button-default ion-back" ng-click="registerModal.hide()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title">注册</h1>
        <button class="button button-clear button-ok" type="button" ng-click="register()">
            确认
        </button>
    </ion-header-bar>
    <ion-content class="account register">
        <label class="input-label">手机号</label>
        <div class="input-wrapper">
            <input ng-model="phone" placeholder="请输入手机号" type="tel" required />
        </div>
        <label class="input-label">验证码</label>
        <div class="input-wrapper">
            <input ng-model="phone" placeholder="请输入验证码" type="tel" required />
        </div>
        <label class="input-label">新密码</label>
        <div class="input-wrapper">
            <input ng-model="phone" placeholder="请输入新密码" type="password" required />
        </div>
        <label class="input-label">确认新密码</label>
        <div class="input-wrapper">
            <input ng-model="phone" placeholder="请再次输入新密码" type="password" required />
        </div>
    </ion-content>
</ion-modal-view>
