@charset "UTF-8";
.mobile-modal {
    background: #fbfcfc;
    .container {
        padding-top: 12px;
        .input-box {
            .input-span {
                color: #fff;
                background:#43cea9;
                margin-top: 22px;
                text-align: center;
                padding-left: 0;
            }
        }
    }
}
